/* Reset */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: lightgray;
}
#risultato {
    padding-top: 10px;
    padding-left: 10px;
}
.rosso {
    color: red;
}
.verde {
    color: green;
}